<div class="row mb-4">
    <div class="col-md-4 mb-3">
        <div class="card h-100 header-card p-3">
            <div class="card-body text-center">
                <i class="fas fa-file-invoice-dollar summary-icon"></i>
                <h6 class="card-subtitle mb-2 text-light">Saldo do Mês</h6>
                <h3 class="card-title mb-0">{{saldoAtual | currency: 'BRL'}}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card h-100 header-card p-3">
            <div class="card-body text-center">
                <i class="fas fa-arrow-up summary-icon text-success"></i>
                <h6 class="card-subtitle mb-2 text-light">Receitas do Mês</h6>
                <h3 class="card-title mb-0">{{valorReceitaMes | currency:'BRL'}}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card h-100 header-card p-3">
            <div class="card-body text-center">
                <i class="fas fa-arrow-down summary-icon text-danger"></i>
                <h6 class="card-subtitle mb-2 text-light">Despesas do Mês</h6>
                <h3 class="card-title mb-0">{{valorDespesaMes | currency:'BRL' }}</h3>
            </div>
        </div>
    </div>
</div>