<div class="row mb-5">
    <div class="row g-4">
        <!-- Card de Receitas -->
        <div class="col-md-4">
            <div class="summary-card income-card">
                <div class="summary-card-header">
                    <i class="fas fa-arrow-up up-icon"></i> Total de Receitas
                </div>
                <h3 class="summary-card-value income-value">{{valorReceitaMes | currency: 'BRL'}}</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="summary-card expense-card">
                <div class="summary-card-header">
                    <i class="fas fa-arrow-down down-icon"></i> Total de Despesas
                </div>
                <h3 class="summary-card-value expense-value">{{valorDespesaMes | currency:'BRL'}}</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="summary-card balance-card">
                <div class="summary-card-header">
                    <i class="fas fa-dollar-sign balance-icon"></i> Saldo
                </div>
                <h3 class="summary-card-value balance-value">{{saldoAcumulado | currency:'BRL'}}</h3>
            </div>
        </div>
</div>